<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let err of errores">
        {{ err}}
    </li>
</ul>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar( f )" #f="ngForm" class="form-register">
            <h2 class="form__titulo">Mantenimiento de alumnos</h2>
            <div class="contenedor-inputs">
                <div class="form-group two-fields">
                    <div class="input-group">
                        <input class="form-control" placeholder="ID" [(ngModel)]="alumno.id" name="id" disabled="disabled">

                    </div>
                </div>

                <div class="form-group solo">
                    <input type="text" class="form-control" placeholder="Nombres" [(ngModel)]="alumno.nombres" name="nombres" disabled="disabled">
                </div>

                <div class="form-group solo">
                    <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="alumno.apellidos" name="apellidos" disabled="disabled">
                </div>


                <div class="form-group two-fields">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Dni" [(ngModel)]="alumno.dni" name="dni" #dni="ngModel" required minlength="8">
                        <div class="alert alert-danger" *ngIf="dni.invalid && (dni.dirty || dni.touched)">
                            <div *ngIf="dni.errors.required">
                                Dni es obligatorio
                            </div>
                            <div *ngIf="dni.errors.minlength">
                                DNI debe tener al menos 8 caracteres
                            </div>
                        </div>

                        <input type="text" class="form-control" placeholder="Código" [(ngModel)]="alumno.codigo" name="codigo" #codigo="ngModel" required minlength="10">
                        <div class="alert alert-danger" *ngIf="dni.invalid && (dni.dirty || dni.touched)">
                            <div *ngIf="dni.errors.required">
                                Código del alumno es obligatorio.
                            </div>
                            <div *ngIf="dni.errors.minlength">
                                Código debe tener mínimo 10 caracteres.
                            </div>
                        </div>


                    </div>
                </div>

                <div class="form-group solo">
                    <input type="text" class="form-control" placeholder="Email" [(ngModel)]="alumno.email" name="email" disabled="disabled">
                </div>

                <div class="form-group two-fields">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Sexo" [(ngModel)]="alumno.sexo" name="sexo" disabled="disabled">
                        <input type="date" name="begin" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31" placeholder="Fecha de nacimiento" [(ngModel)]="alumno.fechaNacimiento" name="fechaNacimiento" disabled="disabled">
                    </div>
                </div>

                <hr>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary w-25" [disabled]="!f.form.valid">
                            <i class="fa fa-save"></i>
                            Guardar
                    </button>

                    <button type="submit" class="btn btn-danger w-25" routerLink="/home">
                            <i class="fa fa-arrow-left"></i>
                            Regresar
                    </button>
                </div>
                <hr>


            </div>

        </form>

    </div>
</div>