<div class="container">
    <div class="row">
        <div class="col text-right">
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary">
    
                <i class="fa fa-plus"></i>
                Agregar
            </button>
        </div>
    </div>
    <table *ngIf="!cargando && alumno.length >0" class="table mt-3 animate__animated animate__fadeIn animate__faster">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRES</th>
                <th scope="col">APELLIDOS</th>
                <th scope="col">CÓDIGO</th>
                <th scope="col">EMAIL</th>
                <th scope="col">SEXO</th>
                <th scope="col">FECHA NACIMIENTO</th>
                <th scope="col" *ngIf="authService.hasRole('ROLE_ADMIN')">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumno of alumno">
                <td data-label="ID">{{ alumno.id }}</td>
                <td data-label="NOMBRES">{{ alumno.nombres }}</td>
                <td data-label="APELLIDOS">{{ alumno.apellidos }}</td>
                <td data-label="CÓDIGO">{{ alumno.codigo }}</td>
                <td data-label="EMAIL">{{ alumno.email }}</td>
                <td data-label="SEXO">{{ alumno.sexo }}</td>

                <td data-label="FECHA NACIMIENTO">{{ alumno.fechaNacimiento }}</td>

                <td *ngIf="authService.hasRole('ROLE_ADMIN')" data-label="ACCIONES">
                    <button class="btn btn-outline-primary" [routerLink]="['/alumno',alumno.id]">
                    <i class="fa fa-pen"></i>
                </button>
                    <button class="btn btn-outline-danger" (click)="borrarAlumno(alumno)">
                    <i class="fa fa-trash"></i>
                </button>
                </td>
            </tr>
        </tbody>
    </table>


    <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>

    <div *ngIf="!cargando && alumno.length ===0" class="alert alert-warning text-center mt-3 animate__animated fadeIn faster">
        <h4 class="alert-heading">No hay registros</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>

    <div *ngIf="cargando" class="alert alert-info text-center mt-3 animate__animated fadeIn faster">
        <h4 class="alert-heading">Cargando</h4>
        <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
            Espere porfavor
        </p>
    </div>
</div>